#scene {
    position:relative;
    float:left;
    overflow: hidden;
    width:100%;
    height:100%;
	background-size:100%;
}

    .slide{
        position: relative;
    }

#debug {
	color: #FFF;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-family: courier;
}

.targetNoSlide {
    visibility: hidden;   
}

.target {
	width: 1920px;
	height: 1080px;
    overflow: visible;
    z-index: 10;
}

.slideBoxes {
	display: block;
	position: relative;
	top: -100px;
	left: 0px;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-weight: bold;
	border-bottom: 10px solid black;
	letter-spacing: -0.1em;
	font-size: 320px;
	color: black;
	opacity: .4;
}

.legend.rt{
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
    margin-left: -190px;
}

.legend.tr{
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
    margin-left: -190px;
}